@import 'tailwindcss';

@theme {
  --font-main: 'WorkSans', 'sans-serif';
  --color-dark-purple: #301534;
  --color-light-pink: #f8eeff;
  --color-light-purple: #8b6990;
  --color-pink: #ad28eb;
}

@font-face {
  font-family: WorkSans;
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/WorkSans-VariableFont_wght.ttf');
}

body {
  background-image: url('./assets/background-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-color: #f8eeff;
  background-size: 100% auto;
}

@media (min-width: 376px) {
  body {
    background-image: url('./assets/background-pattern-desktop.svg');
  }
}
